/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.post-snipet,
.bio,
.comments,
.post {
  display: flex;
  border: 2px solid #333;
  border-radius: 3px;
  margin: 10px 0;
  padding: 5px 10px;
  width: calc(100% - 20px);
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
  justify-content: flex-start;
}

.post h3 {
  margin-bottom: 0;
  padding-bottom: 0;
}

.post .post-stats {
  display: flex;
  justify-content: flex-end;
  margin-top: 0;
  padding-top: 0;
}

.post * {
  margin: 0;
}

.comments {
  margin-top: -9px;
}

.btn,
.see-all-btn {
  display: block;
  width: 90px;
  margin: 0 auto;
  padding: 10px 10px;
  box-shadow: 0 1px 8px 1px rgba(0, 0, 0, 0.8);
  border-radius: 3px;
  align-self: center;
  text-decoration: none;
  color: #333;
  margin-top: 10px;
}

a {
  text-decoration: none;
  color: teal;
}

.new_like {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  margin-top: -9px;
}

.new_comment {
  display: flex;
  flex-flow: column;
}

.new_comment #comment_text {
  display: inline-block;
  width: 50%;
  height: 100px;
}

.new_comment input {
  width: fit-content;
}

html,
body {
  margin: 0;
  padding: 2%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.new_post {
  color: #fff;
  background-color: teal;
  width: 30%;
  margin: 5% auto;
  padding: 2%;
  box-shadow: 0 1px 8px 1px rgba(112, 109, 109, 0.8);
}

.new_post,
textarea,
#post_title {
  width: 80%;
  padding: 2%;
  margin: 1% auto;
}

.new_user {
  background-color: teal;
  width: 30%;
  display: flex;
  flex-direction: column;
  padding: 5%;
  margin: 5% auto;
  height: auto;
  justify-content: center;
}

.new_user input[type="email"],
input[type="password"], input[type="text"] {
  width: 90%;
  margin: 10px auto;
  padding: 10px;
}

.new_user > input[type="submit"] {
  padding: 15px;
  width: auto;
  margin: 10px auto;
}

h1 {
  text-align: center;
  font-weight: bold;
}

.notice-center {
  text-align: center;
}


.notice-center .alert{
  color: red;
}

.notice-center .notice{
  color:green;
}


.shared-links {
  text-align: center;
}